In [50]:
import pandas as pd 
import os
import numpy as np


aportes = (r"C:\Users\dapache\OneDrive - NUEVA EPS\GO_PQR\pagos_cartera.TXT")
df = pd.read_csv(aportes, sep= '\t', encoding="ISO-8859-1", index_col=1, header=0)

df2 = df[['afi_identific', 'afi_fechafil', 'dau_peridecla', 'dau_ingbascot','dau_aporempl', 'eau_emp_identific', 'dau_diastraba']]

df3 = df2.rename(columns={'afi_identific':'Identificación',
                        'afi_fechafil': 'Fecha Afiliación', 
                        'dau_peridecla': 'Periodo Cotización',
                        'dau_ingbascot': 'IBC',
                        'dau_aporempl': 'Aporte',
                        'eau_emp_identific':'Aportante',
                        'dau_diastraba': 'Días Cotizados'})

#df4 = pd.to_datetime(df3['Fecha Afiliación'], format='%d/%m/%Y %H:%M:%S').dt.strftime('%m/%Y')
#df5 = pd.to_datetime(df3['Periodo Cotización'], format='%d/%m/%Y %H:%M:%S').dt.strftime('%m/%Y')

df3
#df5

,Identificación,Fecha Afiliación,Periodo Cotización,IBC,Aporte,Aportante,Días Cotizados
afi_tid_codigo,,,,,,,
3,93292243,15/03/2022 00:00:00,01/06/2022 00:00:00,7369564,921200,800165945,30
3,93292243,15/03/2022 00:00:00,01/07/2022 00:00:00,9461325,1182700,800165945,30
3,93292243,15/03/2022 00:00:00,01/08/2022 00:00:00,7369564,921200,800165945,30
3,93292243,15/03/2022 00:00:00,01/09/2022 00:00:00,7369564,921200,800165945,30
3,93292243,15/03/2022 00:00:00,01/10/2022 00:00:00,7369564,921200,800165945,30
3,93292243,15/03/2022 00:00:00,01/11/2022 00:00:00,7369564,921200,800165945,30
3,93292243,15/03/2022 00:00:00,01/12/2022 00:00:00,7369564,921200,800165945,30
3,93292243,15/03/2022 00:00:00,01/01/2023 00:00:00,6739507,842500,800165945,19
3,93292243,15/03/2022 00:00:00,01/01/2023 00:00:00,2702173,337800,800165945,11
3,93292243,15/03/2022 00:00:00,01/02/2023 00:00:00,6363524,795500,800165945,20
3,93292243,15/03/2022 00:00:00,01/02/2023 00:00:00,2456521,307100,800165945,10
3,93292243,15/03/2022 00:00:00,01/02/2023 00:00:00,1039148,129900,800165945,0
3,93292243,15/03/2022 00:00:00,01/03/2023 00:00:00,7369564,921200,800165945,30
3,93292243,15/03/2022 00:00:00,01/03/2023 00:00:00,1029051,128700,800165945,0
3,93292243,15/03/2022 00:00:00,01/04/2023 00:00:00,1029051,128700,800165945,0
3,93292243,15/03/2022 00:00:00,01/04/2023 00:00:00,7369564,921200,800165945,30
3,93292243,15/03/2022 00:00:00,01/05/2023 00:00:00,4749274,593700,800165945,27
3,93292243,15/03/2022 00:00:00,01/05/2023 00:00:00,766074,95700,800165945,0
3,93292243,15/03/2022 00:00:00,01/05/2023 00:00:00,736956,92200,800165945,3
3,93292243,15/03/2022 00:00:00,01/06/2023 00:00:00,5076810,634700,800165945,30
3,93292243,15/03/2022 00:00:00,01/06/2023 00:00:00,708902,88600,800165945,0

In [ ]:
import pandas as pd
import numpy as np



list_semanas_cot = {
    'Semanas': [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41],
    'Días Gestación': [175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287],
    'Periodos Cotizados': [6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 10, 10, 10]
    }

df = pd.DataFrame(list_semanas_cot)

#print(df)

estilos_tabla = (
    df.style
    .set_caption('Descripción de la tabla')
    .set_table_styles([{'selector': 'caption', 'props': [('color', 'blue'), ('font-size', '16px')]}])
    .bar(subset=['Días Gestación', 'Periodos Cotizados'], color='#d65f5f')
    .highlight_max(axis=0, color='#5fba7d')
    .highlight_min(axis=0, color='#5fba7d')
)

# Mostrar la tabla con estilos
print(estilos_tabla)